<h1>Home</h1>

<%= search_form_for @filter do |f| %>
  <%= f.label :term_eq %>
  <%= f.select(:term_eq, options_for_select([
                            ['', ''],
                            ['Internship', 'Internship'],
                            ['Full time permanent', 'Full time permanent'],
                            ['Part time permanent', 'Part time permanent'],
                            ['Full time temporary', 'Full time temporary'],
                            ['Part time temporary', 'Part time temporary']],
                            @filter.term_eq)) %>
  <%= f.label :experience_id_eq %>
  <%= f.collection_select(:experience_id_eq, Experience.all, :id, :label, :include_blank => '') %>
  <%= f.submit :name => nil %>
<% end %>

<table>
  <tr>
    <th>Job title</th>
    <th>Employer</th>
    <th>Experience level</th>
    <th>Deadline</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>  
      <td><%= link_to job.title, job_path(job) %>
        <% if current_user == job.user %> 
          <%= link_to "(Edit)", edit_job_path(job) %> 
          <%= link_to "(Delete)", job, method: :delete, data: { confirm:
            "Are you sure you want to delete this job?" } %>
        <% end %>
      </td>
      <td><%= job.user.name %></td>
      <td><%= job.experience.label %></td>
      <td><%= job.deadline %></td>
    </tr>
  <% end %>
</table>
