<h1>Home</h1>

<%= search_form_for @filter do |f| %>
  <div class="search-tools">
    <div class="filter">
      <label><%= f.label :experience_id_eq_any %></label>
      <div>
        <ol>
          <% Experience.all.each do |experience| %>
            <li>
              <%= check_box_tag("q[experience_id_eq_any][]", experience.id, false, id: experience.id) %>
              <%= label_tag(experience.id, experience.label) %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="trigger">
      <button>Update</button>
    </div>
  </div>
<% end %>


<table>
  <tr>
    <th>Job title</th>
    <th>Employer</th>
    <th>Experience level</th>
    <th>Deadline</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>  
      <td><%= link_to job.title, job_path(job) %>
        <% if current_user == job.user %> 
          <%= link_to "(Edit)", edit_job_path(job) %> 
          <%= link_to "(Delete)", job, method: :delete, data: { confirm:
            "Are you sure you want to delete this job?" } %>
        <% end %>
      </td>
      <td><%= job.user.name %></td>
      <td><%= job.experience.label %></td>
      <td><%= job.deadline %></td>
    </tr>
  <% end %>
</table>
