<%= search_form_for @filter do |f| %> 
  <div class="search-tools">
    <div class="filter">
      <label>Experience</label>
      <div>
        <ol>
          <% Experience.all.each do |experience| %>
            <li>
              <%= check_box_tag("q[experience_id_eq_any][]",
                  experience.id,
                  @checked_experiences.include?(experience.id.to_s),
                  id: "experience_#{experience.id}") %>
              <%= label_tag("experience_#{experience.id}", experience.label) %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="filter">
      <label>Term</label>
      <div>
        <ol>
          <% Term.all.each do |term| %>
            <li>
              <%= check_box_tag("q[term_id_eq_any][]",
                  term.id,
                  @checked_terms.include?(term.id.to_s),
                  id: "term_#{term.id}") %>
              <%= label_tag("term_#{term.id}", term.label) %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
    <div class="trigger">
      <button>Filter</button>
    </div>
  </div>
<% end %>

<table class="jobs_table">
  <tr>
    <th class="title_column">Job title</th>
    <th class="employer_column">Employer</th>
    <th class="experience_column">Experience level</th>
    <th class="term_column">Position term</th>
  </tr>
  <% @jobs.each do |job| %>
    <tr>  
      <td class="title_column"><%= link_to job.title, job_path(job), method: :get %>
        <% if current_user == job.user or is_admin? %> 
          <%= link_to raw("<i class='fa fa-pencil'></i>"), edit_job_path(job) %> 
          <%= link_to raw("<i class='fa fa-trash-o'></i>"), job, method: :delete, data: { confirm:
            "Are you sure you want to delete this job?" } %>
          <%= link_to raw("<i class='fa fa-users'></i>"), job_applications_path(job), method: :get %>
        <% end %>
      </td>
      <td class="employer_column"><%= job.user.name %></td>
      <td class="experience_column"><%= job.experience.label %></td>
      <td class="term_column"><%= job.term.label %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @posts %>
