<h1>Post new job</h1>
<br />
<%= form_for @job, url: {action: "create"} do |f| %>
  <%= label_tag(:title, "Position title:") %>
  <%= f.text_field :title %><br />
  <%= label_tag(:term, "Position term:") %>
  <%= f.select(:term, options_for_select([['Internship', 'Internship'],
                            ['Full time permanent', 'Full time permanent'],
                            ['Part time permanent', 'Part time permanent'],
                            ['Full time temporary', 'Full time temporary'],
                            ['Part time temporary', 'Part time temporary']])) %>
  <br />
  <%= label_tag(:location, "Location:") %>
  <%= f.text_field :location %><br />
  <%= label_tag(:experience, "Experience:") %>
  <%= f.select(:experience, options_for_select([
      ['Some college', 'Some college'],
      ['Undergraduate degree', 'Undergraduate degree'],
      ['Graduate degree', 'Graduate degree'],
      ['Some professional experience', 'Some professional experience'],
      ['5+ years of professional experience', '5+ years of professional experience']])) %>
  <br />
  <%= label_tag(:majors, "Majors:") %>
  <%= f.text_field :majors  %><br />
  <%= label_tag(:description, "Description:") %>
  <%= f.text_area :description %><br />
  <%= label_tag(:url, "URL:") %>
  <%= f.text_field :url %><br />
  <%= label_tag(:instructions, "Instructions:") %>
  <%= f.text_area :instructions %><br />
  <%= label_tag(:deadline, "Deadline:") %>
  <%= f.date_select :deadline %><br />
  <%= label_tag(:salary, "Salary:") %>
  <%= f.text_field :salary %><br />
  <%= submit_tag("Create job") %>
<% end %>
