<h1>Create new job</h1>
<br />
<%= form_for @job, url: {action: "create"} do |f| %>
  <%= label_tag(:title, "Position title:") %>
  <%= f.text_field :title %><br />
  <%= label_tag(:type, "Type of position:") %>
  <%= f.select_tag(:type, options_for_select([['Internship', 'Internship'],
                            ['Full time permanent', 'Full time permanent'],
                            ['Part time permanent', 'Part time permanent'],
                            ['Full time temporary', 'Full time temporary'],
                            ['Part time temporary', 'Part time temporary']])) %>
  <br />
  <%= label_tag(:email, "Email:") %>
  <%= f.text_field :email %><br />
  <%= label_tag(:password, "Password:") %>
  <%= f.password_field :password  %><br />
  <%= label_tag(:password_confirmation, "Confirm:") %>
  <%= f.password_field :password_confirmation %><br />
  <%= submit_tag("Create account") %>
<% end %>
