<h1><%= @job.title %></h1>
<br />
<p>Employer: <%= @job.user.name %></p>
<p>Position term: <%= @job.term.label %></p>
<p>Location: <%= @job.location %></p>
<p>Experience: <%= @job.experience.label %></p>
<p>Majors: <%= @job.majors %></p>
<p>Description: <%= @job.description %></p>
<p>URL: <%= @job.url %></p>
<p>Instructions: <%= @job.instructions %></p>
<p>Deadline: <%= @job.deadline %></p>
<p>Salary: <%= @job.salary %></p>
<p>
<%= form_for Application.new do |f| %>
  <%= f.hidden_field(:user_id, value: current_user.id) %>
  <%= f.hidden_field(:job_id, value: @job.id) %>
  <%= submit_tag("Apply") %>
<% end %>
