<div class="content_with_sidebar">
  <div class="title">
    <h1><%= @job.title %></h1>
    <div class="sub"><%= @job.user.name %></div>
  </div>
  <div class="sidebar">
    <div class="attribute">Location: <%= @job.location %></div> 
    <div class="attribute">Term: <%= @job.term.label %></div> 
    <div class="attribute">Experience: <%= @job.experience.label %></div>
    <div class="attribute">Majors: <%= @job.majors %></div> 
    <div class="attribute">Salary: <%= @job.salary %></div>
    <div class="attribute">Posted: <%= @job.created_at.strftime("%B %-d, %Y") %></div>  
    <div class="attribute">Deadline: <%= @job.deadline.strftime("%B %-d, %Y") %></div>
  </div>
  <div class="main">
    <%= @job.description %><br /><br />
<% if !logged_in? %>
  <%= link_to "Sign up", signup_applicant_path, method: :get %> or <%= link_to "log in", login_path, method: :get %> to apply.</p>
<% elsif current_user.role.label == "applicant" %>
  <% if @application.user_id.nil? %>
    <%= form_for Application.new do |f| %>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.hidden_field(:job_id, value: @job.id) %>
      <%= submit_tag("Apply") %>
    <% end %>
  <% else %>
    <%= button_to "Retract application",
        { action: "destroy", controller: "applications", id: @application.id },
        method: "delete" %>
  <% end %>
<% end %>
  </div>
</div>
