<div class="job_description">
  <h1><%= @job.title %></h1>
  <div class="at_a_glance">
    Posted: <%= @job.created_at.strftime("%B %-d, %Y") %><br />  
    Location: <%= @job.location %><br /> 
    Majors: <%= @job.majors %><br /> 
    Term: <%= @job.term.label %><br /> 
    Experience: <%= @job.experience.label %>
  </div>
  <div class="employer">
    <%= @job.user.name %>
  </div>
  <div class="description">
    <%= @job.description %>
  </div>
  <div class="salary">
    <%= @job.salary %>
  </div>
  <div class="deadline">
    <%= @job.deadline.strftime("%B %-d, %Y") %>
  </div>
  <div class="apply">
<% if !logged_in? %>
  <%= link_to "Sign up", signup_path, method: :get %> or <%= link_to "log in", login_path, method: :get %> to apply.</p>
<% elsif current_user.role.label == "applicant" %>
  <% if @application.user_id.nil? %>
    <%= form_for Application.new do |f| %>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.hidden_field(:job_id, value: @job.id) %>
      <%= submit_tag("Apply") %>
    <% end %>
  <% else %>
    <%= button_to "Retract application",
        { action: "destroy", controller: "applications", id: @application.id },
        method: "delete" %>
  <% end %>
<% end %>
  </div>
