<%= form_for user do |f| %>
  <div class="form">
    <%= f.hidden_field(:role_id) %>
    <div class="title">
      <h1><%= action %> <%= role %></h1>
    </div>
    <% if role == "employer" %>
      <div class="field">
        <%= label_tag(:name, "Company name:") %>
        <%= f.text_field :name %><br />
      </div>
      <div class="field">
        <%= label_tag(:website, "Website:") %>
        <%= f.text_field :website %><br />
      </div>
    <% end %>
    <div class="field">
      <%= label_tag(:email, "Email:") %>
      <%= f.text_field :email %><br />
    </div>
    <div class="field">
      <%= label_tag(:password, "Password:") %>
      <%= f.password_field :password  %><br />
    </div>
    <div class="field">
      <%= label_tag(:password_confirmation, "Confirm:") %>
      <%= f.password_field :password_confirmation %><br />
    </div>
    <% if role == "applicant" %>
      <div class="field">
        <%= label_tag(:resume, "Upload resume:") %>
        <%= f.file_field :resume %>
      </div>
    <% end %>
    <div class="trigger">
      <%= submit_tag("#{action} account") %>
    </div>
  </div>
<% end %>
