<%= form_for user do |f| %>
  <div class="form">
    <%= f.hidden_field(:role_id) %>
    <div class="title">
      <h1><%= action %> <%= role %></h1>
    </div>
    <% if role == "employer" %>
      <div class="field">
        <%= label_tag(:name, "Company name:") %>
        <%= f.text_field :name %><br />
      </div>
      <div class="field">
        <%= label_tag(:website, "Website:") %>
        <%= f.text_field :website %><br />
      </div>
    <% end %>
    <div class="field">
      <%= label_tag(:email, "Email:") %>
      <%= f.text_field :email %><br />
    </div>
    <div class="field">
      <%= label_tag(:password, "Password:") %>
      <%= f.password_field :password  %><br />
    </div>
    <div class="field">
      <%= label_tag(:password_confirmation, "Confirm:") %>
      <%= f.password_field :password_confirmation %><br />
    </div>
    <% if role == "applicant" %>
      <div class="field" style="margin-bottom:1em">
        <%= label_tag(:resume, "Upload resume (must be a PDF under 5 MB):") %>
        <%= f.file_field :resume %>
      </div>
      <% if !user.resume_file_name.nil? %>
        <div class="field" style="margin-bottom:1em">
          <strong>Existing resume:</strong><br /> 
          <%= hidden_field_tag(:del_resume, "0") %>
          <label for="delete_resume" class="delete" style="display: inline; cursor: pointer; padding-right: 0.5em;"><i class="fa fa-trash-o" alt="Delete resume"></i></label>
          <a href="<%= user.resume.url %>" target="_blank"><i class='fa fa-file-pdf-o'></i > <%= user.resume_file_name %></a>
        </div>
      <% end %>
    <% end %>
    <div class="trigger">
      <%= submit_tag("#{action} account") %>
    </div>
  </div>
<% end %>
<% if !user.resume_file_name.nil? %>
  <%= button_to "[X]", 
      { action: "delete_resume", id: user.id }, 
      method: "get",
      style: "display: none;", 
      id: "delete_resume" %> 
<% end %>
