<% option = model.to_s.downcase %>
<%= form_for :option, url: {action: "update_#{option}s"}, html: {method: "put"} do |f| %>
  <div class="title">
    <h1><%= option.capitalize %>s</h1>
  </div>
  <div class="options">
  <% model.all.each do |this_option| %>
    <% this_option_identifier = option + "_" + this_option.id.to_s %>
    <div class="existing">
      <div class="delete">
        <%= label_tag "delete_#{this_option.label.squish.downcase.tr(" ","_")}", "[X]" %>
      </div>
      <div class="option">
        <div class="view-option">
          <%= this_option.label %> <%= link_to "(Edit)", '' %>
        </div>
        <div class="edit-option">
          <%= text_field_tag this_option_identifier, this_option.label %>
        </div>
      </div>
      <div class="position">
        <% if this_option.respond_to?(:position) %>
        <%= select_tag(
              "#{this_option.label.squish.downcase.tr(" ","_")}_position",
              options_for_select((0..10).to_a, this_option.position))  %>
        <% # DELETE ALL OF THIS ONCE I IMPLEMENT POSITION FOR TERM %>
        <% else %>
        <%= select_tag(
              "#{this_option.label.squish.downcase.tr(" ","_")}_position",
              options_for_select((0..10).to_a))  %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% (10 - model.count).times do %>
    <div class="new">
      <div class="delete">
        <%= label_tag "delete_new_#{option}", "[X]" %>
      </div>
      <div class="option">
        <div class="new-option">
          <%= text_field_tag "new_#{option}s[]", nil, placeholder: "New #{option}" %>
        </div>
      </div>
      <div class="position">
        <%= select_tag(
              "new_#{option}_position",
              options_for_select((0..10).to_a)) %>
      </div>
    </div>
  <% end %>
  </div>
  <div class="button">
    <%= submit_tag("Save #{option}s") %><br /><br />
  </div>
<% end %>
<% model.all.each do |this_option| %>
  <% this_option_identifier = option + "_" + this_option.id.to_s %>
  <%= button_to "[X]",
      { :controller => "settings", 
        :action     => "destroy_#{option}",
        :id => "#{this_option.id}" },
      method: :delete, 
      id: "delete_#{this_option.label.squish.downcase.tr(" ","_")}", 
      style: "display: none;",
      class: "destroy_#{option}" %>
<% end %>
