<!DOCTYPE html>
<html>

<head>
  <title>jbbrd</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="<%= root_url %>" class="mobile-logo" data-method="get">
      <i class="fa fa-thumb-tack"></i> jbbrd
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="logo">
          <a href="<%= root_url %>" data-method="get"><i class='fa fa-thumb-tack'></i> jbbrd</a>
        </li>
        <% if is_admin? %>
          <li class="nav-link">
            <%= link_to "Manage users", users_path, method: :get %>
          </li>
          <li class="nav-link">
            <%= link_to "Settings", settings_path, method: :get %>
          </li>
        <% end %>
        <% if current_user.present? %>
          <% if current_user.role.label == "applicant" %>
            <li class="nav-link">
              <%= link_to "Applications", applications_path(user_id: current_user.id), method: :get %>
            </li>
          <% else %>
            <li class="nav-link">
              <%= link_to "Post new job", new_job_path, method: :get %>
            </li>
          <% end %>
          <li class="nav-link">
            <%= link_to "Edit profile", edit_user_path(current_user), method: :get %>
          </li>
          <li class="nav-link">
            <%= link_to "Log out", logout_path, method: :delete %>
          </li>
        <% else %> 
          <li class="nav-link">
            <%= link_to "Log in", login_path, method: :get %>
          </li>
          <li class="nav-link">
            <%= link_to "Sign up", signup_path, method: :get %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<% unless admin_exists? %>
  <div class="error">This job board has no administrator. Please <%= link_to "create an account.", signup_admin_path, method: :get %></div>
<% end %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

</body>
</html>
