<!DOCTYPE html>
<html>

<head>
  <title>JobBoard</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><%= link_to "Home", jobs_path, method: :get %></li>
        <% if is_admin? %>
          <li class="nav-link">
            <%= link_to "Manage users", users_path, method: :get %>
          </li>
        <% end %>
        <% if current_user.present? %>
          <li class="nav-link">
            <%= link_to "Post new job", new_job_path, method: :get %>
          </li>
          <li class="nav-link">
            <%= link_to "Edit profile", edit_user_path(current_user), method: :get %>
          </li>
          <li class="nav-link">
            <%= link_to "Log out", logout_path, method: :delete %>
          </li>
        <% else %> 
          <li class="nav-link">
            <%= link_to "Log in", login_path, method: :get %>
          </li>
          <li class="nav-link">
            <%= link_to "Sign up", 'signup', method: :get %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<% unless admin_exists? %>
  <div class="error">This job board has no administrator. Please <%= link_to "create an account.", 'signup', method: :get %></div>
<% end %>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

</body>
</html>
